* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #95a5a6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-box {
  position: relative;
  padding-top: 30px;
  background: #353b48;
  height: 60px;
  border-radius: 40px;
  padding: 10px;
}

.search-btn {
  color: #00a8ff;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #353b48;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  color: white;
  font-size: 16px;
  transition: 1s;
  width: 0px;
  line-height: 40px;
}

.search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-box:hover > .search-btn {
  background: white;
}
