* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;

  background-color: #1a1a1a;

  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 0;
  height: 0;
}

.container {
  width: 540px;
  height: 540px;

  border: 1px solid #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  filter: url(#gooey);
}

.ball {
  width: 100px;
  height: 100px;

  background-color: #5fe36a;

  position: absolute;
}

.ball-1 {
  top: 40%;
  left: 40%;
  opacity: 0;

  animation: ball-1 5s ease 1s infinite alternate;
}

.ball-2 {
  opacity: 0;
  top: 40%;
  left: 50%;

  animation: ball-2 5s ease 1s infinite alternate;
}

@keyframes ball-1 {
  0% {
    top: 40%;
    left: 40%;
    opacity: 0;
    border-radius: 5%;
    transform: rotate(0deg) scale(0);
  }
  20% {
    top: 40%;
    left: 40%;
    opacity: 1;
    border-radius: 5%;
    transform: rotate(0deg) scale(1.2);
  }
  25% {
    top: 40%;
    left: 40%;
    opacity: 1;
    border-radius: 5%;
    transform: rotate(0deg) scale(1);
  }
  50% {
    top: 40%;
    left: 40%;
    opacity: 1;
    border-radius: 50%;
    transform: rotate(720deg) scale(1);
  }
  60% {
    top: 40%;
    left: 35%;
    opacity: 1;
    border-radius: 50%;
    transform: rotate(720deg) scale(0.7);
  }
  70% {
    top: 40%;
    left: 30%;
    opacity: 1;
    border-radius: 50%;
    transform: rotate(720deg) scale(0.7);
  }
  100% {
    top: 40%;
    left: 60%;
    opacity: 1;
    border-radius: 50%;
    transform: rotate(720deg) scale(0.7);
  }
}

@keyframes ball-2 {
  0%,
  30% {
    top: 40%;
    left: 40%;
    opacity: 0;
    border-radius: 50%;
    transform: rotate(0deg) scale(0);
  }
  40% {
    top: 40%;
    left: 40%;
    opacity: 1;
    border-radius: 50%;
    transform: rotate(0deg) scale(1);
  }
  50% {
    top: 40%;
    left: 45%;
    opacity: 1;
    border-radius: 50%;
    transform: rotate(0deg) scale(0.7);
  }
  70% {
    top: 40%;
    left: 50%;
    opacity: 1;
    border-radius: 50%;
    transform: rotate(0deg) scale(0.7);
  }
  100% {
    top: 40%;
    left: 30%;
    opacity: 1;
    border-radius: 50%;
    transform: rotate(0deg) scale(0.7);
  }
}
